# 排除虛擬環境 (這是關鍵！)
sexism/
venv/
Lib/
Include/
Scripts/

# 排除模型權重
bert_sexism_model/
*.bin
*.pth
*.zip

# 排除數據集
*.csv
bert_sexism_category_model/config.json
bert_sexism_category_model/special_tokens_map.json
bert_sexism_category_model/tokenizer_config.json
bert_sexism_category_model/vocab.txt
.gitignore
bert_sexism_category_model/model.safetensors
